@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Manrope:wght@200..800&family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.cdnfonts.com/css/mona-sans");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 243 76% 5%;
    --card: 0 0% 93%;
    --card-foreground: 243 76% 5%;
    --popover: 0 0% 93%;
    --popover-foreground: 243 76% 5%;
    --primary: 277 100% 50%;
    --primary-foreground: 0 0% 93%;
    --secondary: 267 88% 87%;
    --secondary-foreground: 243 76% 5%;
    --muted: 0 0% 20%;
    --muted-foreground: 243 76% 70%;
    --accent: 291 30% 87%;
    --accent-foreground: 243 76% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 243 76% 5%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 290 30% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 243 76% 95%;
    --card: 0 0% 7%;
    --card-foreground: 243 76% 95%;
    --popover: 0 0% 7%;
    --popover-foreground: 243 76% 95%;
    --primary: 277 100% 50%;
    --primary-foreground: 243 76% 95%;
    --secondary: 267 88% 13%;
    --secondary-foreground: 243 76% 95%;
    --muted: 0 0% 80%;
    --muted-foreground: 243 76% 95%;
    --accent: 291 30% 13%;
    --accent-foreground: 243 76% 95%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 243 76% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 290 30% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .wrapper {
    @apply max-w-7xl mx-auto;
  }
}
